{% extends "base.html" %}
{% block content %}
<div class="pure-g">
    <div class="pure-u-1 pure-u-lg-1-2">
    <h2>
    Hi, I am Pradhyo Bijja.
    </h2>

	<h3>
	I have a Masters degree in Computer Networks.<br>
	But right now, I build awesome web applications that solve problems.
	</h3>

	<h3>Coding</h3>
	<h4>I learned Python to program Software Defined Network controllers. I loved coding so much, I decided to become a software engineer late last December. So I spent January getting used to data structures and algorithms.</h4>

	<h3>Influencers</h3>
	<h4>I had a wonderful experience being interviewed by Google in Feb- I solved two interesting problems and both the interviewers across the table encouraged me to continue what I was doing. I met awesome people at Hackathons in March who told me to start building stuff and I am just getting started (haven't stopped since)</h4>

	<h3>Spring Break</h3>
	<h4>I used python to write the backend for a website to find travel buddies- learned SQL and how to use the webapp2 framework to deploy on the Google App Engine and showed it to my friends. Instead of arguing with them that I had built a Minimum Viable Product, I took the opportunity to learn some CSS, failed to make it usable on mobile phones and later patched it up to make it responsive across all devices- one week well spent.</h4>

	<h3>Beyond</h3>
	<h4>I did not get into Google and there's a lot more to learn but I will soon get into an awesome company doing what I love- coding.</h4>
    </div>
    <div class="pure-u-1 pure-u-lg-1-2">
    <img src=stylesheets/Pradhyo.png>
    </div>
</div>


{% endblock %}