{% extends "base.html" %}

{% block content %}

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Pradhyo</h1>
                        <p class="intro-text">
                            I <a href="/blog/backend/5741031244955648"><u>CODE</u></a>.<br> 
                            I <a href="/blog/general/5724160613416960"><u>LEARN</u></a> quickly. <br>
                            I get things <a href="/blog/general/5717271485874176"><u>DONE</u></a>.
                        </p>
                        <a href="#about" class="btn btn-default page-scroll">
                            Learn More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>About me</h2>
                <p>I learned Python to program Software Defined Network controllers. I loved coding so much, I decided to become a software engineer late last December. So I spent January getting used to data structures and algorithms.</p>
                <p>I had a wonderful experience being interviewed by Google in Feb- I solved two interesting problems and both the interviewers across the table encouraged me to continue what I was doing. I met awesome people at Hackathons in March who told me to start building stuff and I <del>am just getting started</del> haven't stopped since.</p>
                <p>I used python to write the backend for a website to find travel buddies- learned SQL and how to use the webapp2 framework to deploy on the Google App Engine and showed it to my friends. Instead of arguing with them that I had built a Minimum Viable Product, I took the opportunity to learn some CSS, failed to make it usable on mobile phones and later patched it up to make it responsive across all devices- one week well spent.</p>
                <p> I did not get into Google and there's a lot more to learn but I will soon get into an awesome company doing what I love- coding. </p>
            </div>
        </div>
    </section>

{% endblock %}