{% extends "base.html" %}

{% block content %}
  <section class = "container new_blog content-section full-height text-center">
  	<h3> Image resizer</h3>
  	<div id="centerdiv">
		<form method="post">
			<div class="form-group">
				<input type="text" name="max_width" placeholder="Maximum width (pixels)" class="form-control"> 
			</div>
			<div class="form-group">
				<input type="text" name="max_height" placeholder="Maximum height (pixels)" class="form-control"> 
			</div>
			<div class="form-group">
				<input type="file" name="img" >
			</div>
		</form>
	</div>
  </section>
{% endblock %}
