{% extends "base.html" %}

{% block content %}
  <div class = "container new_blog">
  <h2>new post</h2>

    <form method="post">
      <label>
        <div>Title</div>
        <input type="text" name="title" value="{{title}}">
      </label>

      <label>
        <div>Blog</div>
        <textarea name="blog">{{blog}}</textarea>
      </label>

      <label>
        <div>Category</div>
        <select name="category">
          <option value="general">General</option>
          <option value="frontend">Frontend</option>
          <option value="backend">Backend</option>
          <option value="data">Data</option>
          <option value="networks">Computer Networks</option>
          <option value="git">GIT</option>
          <option value="java">Java</option>
        </select>
      </label>

      <div class="error">{{error}}</div>

      <input type="submit">
    </form>
  </div>
{% endblock %}

